.pokedex {
    
    width:75%;
    margin:auto;
    border:1px solid black;
}

.pokedexHeader {
    text-align:center;
}

.pokemonCard {
    display:inline-grid;
    border:1px solid black;
    border-radius:5px;
    width:200px;
    text-align:center;
    background-color:lightgray;
    margin:10px;
}

.pokemonCard:hover {
    transition:0.5s;
    background-color:aqua;
}

img:hover {
    transform: scaleX(-1);
}

.pokemonCard img {
    margin:auto;
}

.winner {
    background-color:green;
}

.loser {
    background-color:pink;
}